:root {
  --color-primary: 0 0 0;
  --color-secondary: 130 130 130;
  --color-accent: 12 136 156;
  --color-border: 236 236 236;
  --color-error: 246 0 0;

  --color-background-primary: 255 255 255;
  --color-background-secondary: 238 238 238;
}
